.centerbg{width: 1200px;height: 800px;background-color: #ffffff;margin:0 auto;margin-top: 34px;}
.centerbg table{margin: 0 auto;font-size: 24px;color: #333333;padding-top: 30px;}
.title{font-size: 30px;text-align: center;}
.inputtext{width: 405px;height: 55px;border: 1px solid #B2B2B2;border-radius: 3px 3px 3px 3px;outline: none;font-size: 24px;}
.inputbutton{width: 515px;height: 62px;background-color: #00AAF7;color: #ffffff;font-size: 24px;border: none;border-radius: 3px 3px 3px 3px;outline: none;cursor: pointer;}