#adnav-up{width: 120px;height: 40px;background-color: #68A1FF;color: #ffffff;font-size: 18px;outline: none;border: none;cursor: pointer;float: right;margin-top: 12px;margin-right: 10px;}
.addnav-top{width: 100%;height: 60px;}
.addnav-top img{height: 40px;margin-top: 12px;margin-left: 63px;}
.addnav-nav{width: 100%;height: 38px;background-color: #00AAF7;}
.addnav-navbox{width: 960px; margin: 0 auto;height: 38px;}
.addnav-navbox ul li{background-color:#00AAF7;  float: left;display: block;width: 160px;height: 38px;line-height: 38px;color: #ffffff;cursor: pointer;text-align: center;}
.addnav-text{width: 80px;height: 24px;margin: 0 auto;border-radius: 3px 3px 3px 3px; outline: none;border: none;display: none;font-size: 14px;color: #333333;text-align: center;}
.conbox > p{color: #666666;font-size: 36px;text-align: center;margin-top: 219px;}

.adpic-button{width: 122px;height: 40px;border: none;outline: none;cursor: pointer;color: #ffffff;font-size: 18px;}
.adpic-buttonfor > div{cursor: pointer; width: 122px;height: 40px;background-color: #68A1FF;color: #ffffff;font-size: 18px;text-align: center;line-height: 40px;}
.adpic-buttonfor > div,.adpic-buttonde{float: left;margin-top: 10px;margin-left: 20px;}
.adpic-buttonsu{float: right;background-color: #68A1FF;margin-right: 20px;margin-top: 10px;}
.adpic-buttonde{background-color: #FF7E7E}
.adpic-pic{width: 900px;margin: 0 auto;height: 570px;position: relative;background-color: #1C262C;overflow: hidden;}
.lr-bu{position: absolute;top: 205px;cursor: pointer;}
.lr-bu-l{left: 30px;}
.lr-bu-r{right: 30px;}

.adpic-buttonforlc > div {float: right;margin-right: 20px;}
.cl-p{text-align: center;font-size: 48px;color: #333333;margin-top: 208px;}
#adlc_img{width: 1200px;height: 570px;display: none;}

.listbox{width: 900px;height: 570px;position: relative;overflow: hidden;float: left;}
.piccss{position: relative; overflow:hidden; width: 900px;height: 570px;background-color: #1C262C;float: left;color: #ffffff;text-align: center;font-size: 36px;line-height: 570px;}
.piccss img{width: 900px;height: 570px;z-index: 1000;}
.list li{float: left;}
.list{position: absolute;/*left: 0;
	transition: left 0.3s;
   -moz-transition: left 0.3s;
   -webkit-transition: left 0.3s;
   -o-transition: left 0.3s;*/}
.adpic-buttonfor{display: none;}
.button-1{display: block;}
