.centerbg{width: 1200px;height: 800px;background-color: #ffffff;margin:0 auto;margin-top: 34px;}
.ctop{width: 1200px;height: 106px;position: relative;}
.ctop > p{font-size: 45px;color: #0089C8;text-align: center;line-height: 106px;}
.ctop > span{position: absolute;right: 20px;top: 55px;color: #666666;font-size: 18px;}
.ccenter{width: 1200px;height: 691px;}
.cnav{width: 167px;height: 693px;background-color: #333333;float: left;}
.cnav a{display: block;width: 167px;color: #ffffff;font-size: 23px;height: 67px;text-align: center;line-height: 67px;font-family: "Microsoft JhengHei";}
.cnav a:hover{background-color: #000000;}
.cnav ul{padding-top: 30px;}
.searchbox{width: 1033px;height: 60px;background-color:#666666;float: left;position: relative;}
.searchbox > p{font-size: 28px;color: #ffffff;text-align: center;line-height: 60px;}
.conbox{width: 1033px;height: 570px;float: left;overflow: hidden;}
.contitle{width: 988px;margin: 0 auto;font-size: 18px;color: #333333;margin-top: 22px;}
.conbox > hr{width: 988px;margin: 0 auto;margin-top: 22px;}
.contable{width: 988px;margin: 0 auto;font-size: 18px;color: #333333;margin-top: 25px;margin-bottom: 5px;}
.contable a{color: #0089C8;text-decoration: underline;}
.delete{width: 64px;height: 24px;background-color: #FF7E7E;border: none;border-radius: 3px 3px 3px 3px;color: #ffffff;font-size: 15px;outline: none;cursor: pointer;}
.check{width: 15px;height: 15px;}
.call{width: 1033px;height: 63px;background-color: #CBCBCB;float: left;}
.call-bu{margin-top: 10px; width: 120px;margin-right: 10px; height: 40px;font-size: 18px;color: #ffffff;border: none;outline: none;cursor: pointer;}
.call-1{float: left;font-size: 18px;color: #333333;}
.call-1 input{width: 16px;height: 16px;margin-right: 22px;margin-top: 20px;margin-left: 40px;}
.call-2{float: right;}
.call-bu1{background-color: #68A1FF;}
.call-bu2{background-color: #FF7E7E;}
.edit{width: 64px;height: 24px;background-color: #00AAF7;border: none;border-radius: 3px 3px 3px 3px;color: #ffffff;font-size: 15px;outline: none;cursor: pointer;}
.condiv{width: 1033px;height: 500px;padding-top: 1px;overflow-y:auto;}
.conbox::-webkit-scrollbar{
    background-color: #ffffff;
}
.conbox::-webkit-scrollbar-track{
    background-color: #ffffff;
}
.condiv::-webkit-scrollbar{
    background-color: #ffffff;
}
.condiv::-webkit-scrollbar-track{
    background-color: #ffffff;
}
.tnav{width: 167px;height: 693px;background-color: #333333;float: left;}
.tnav a{display: block;width: 167px;color: #ffffff;font-size: 23px;height: 70px;text-align: center;line-height: 70px;font-family: "Microsoft JhengHei";}
.tnav a:hover{background-color: #1B1B1B;}
.tnav ul{padding-top: 250px;}

.tcacc-table{font-size: 24px;color: #333333;margin-top: 10px;}
.tcacc-table input{width: 300px;height: 30px;}
.inputcss{background-color: #EDEDED;border: none;border-radius: 3px 3px 3px 3px;outline: none;font-size: 24px;}
.inputbu{background-color: #0089C8;border: none;border-radius: 3px 3px 3px 3px;outline: none;cursor: pointer;color: #ffffff;font-size: 18px;margin: 0 auto;}

.edi-imgbox{width: 180px;height: 240px;position: relative;float: right;margin-top: 64px;margin-right: 63px;}
.edi-img{width: 180px;height: 240px;}
.edi-pic > div{width: 180px;height: 240px;background-color: transparent; position: absolute;top: 0;left: 0; background-image: url(../images/blackbg.png)}
.edi-uppicbu{width: 134px;height: 45px;border: 2px solid #ffffff;background-color: background-color: transparent;color: #ffffff;font-size: 24px;cursor: pointer;text-align: center;line-height: 50px;margin-top: 110px;margin-left: 24px;}
.edi-tcde{float: left;width: 910px;margin-left: 62px;margin-top: 7px;}
.edi-tcde p{color: #333333;font-size: 24px;margin-bottom: 33px;}
.edi-tcde textarea{width: 905px;height: 112px;border: 2px solid #999999;resize: none;outline: none;font-size: 18px;color: #333333;}

.add-table{font-size: 24px;color: #333333;margin-left: 10px;}
.add-input1{width: 200px;height: 36px;border-radius: 8px 8px 8px 8px;background-color: #EDEDED;outline: none;border: none;color: #999999;font-size: 18px;}
.add-input2{float: left; margin-left: 20px;margin-right: 20px; width: 100px;height: 36px;border-radius: 8px 8px 8px 8px;background-color: #EDEDED;outline: none;border: none;color: #999999;font-size: 18px;text-align: center;}
.add-input3{width: 968px;height: 315px;margin-left: 33px;outline: none;resize: none;font-size: 20px;color: #333333;overflow-y: auto;}
.add-p1{color: #333333;font-size: 24px;margin-left: 33px;margin-bottom: 32px;}
.add-img{cursor: pointer;float: left;margin-top: 5px;}
.add-imgbox{float: left;}

.save{width: 63px;height: 26px;border-radius: 3px 3px 3px 3px;background-color: #00AAF7;color: #ffffff;font-size: 15px;border: none;cursor: pointer;outline: none;}
.addcss{float: left;cursor: pointer;}
.classp{margin-left: 12px;margin-right: 12px;}

.alang-p{font-size: 24px;color: #333333;}
.alang-text{font-size: 18px; margin-top: 32px; width: 400px;height: 40px;background-color: #EDEDED;border: 1px solid #CBCBCB;border-radius: 3px 3px 3px 3px;outline: none;}
.alang-table{margin-left: 315px;margin-top: 64px;}

.cpsw-input{width: 400px;height: 37px;background-color: #EDEDED;border: none;border-radius: 3px 3px 3px 3px;outline: none;}
.cpsw-table{color: #333333;font-size: 24px;margin-top: 32px;margin-left: 170px;}

.data-table{font-size: 24px;color: #333333;margin-left: 20px;}
.add-sel{margin-left: 30px; width: 200px;height: 36px;background-color: #EDEDED;color: #999999;font-size: 18px;text-indent: 0.5em;border-radius: 8px 8px 8px 8px;border: none;outline: none;}

.addtc-input,#addtc-lang{text-indent: 0.5em;background-color: #EDEDED;border: none;border-radius: 8px 8px 8px 8px;width: 402px;height: 37px;outline: none;font-size: 18px;color: #333333;}
.addtc-table{font-size: 24px;color: #333333;margin-top: 32px;margin-left: 32px;float: left;}
.addtc-des{font-size: 24px;color: #333333;margin-left: 64px;float: left;}
.addtc-des textarea{text-indent: 0.5em;font-size: 18px;outline: none; width: 905px;height: 112px;border: 2px solid #999999;resize: none;margin-top: 33px;}
.addtc-pic{width: 180px;height: 240px;border: 2px solid #999999;float: right;color: #666666;font-size: 24px;text-align: center;line-height: 240px;margin-top: 64px;margin-right: 64px;cursor: pointer;}
#addtic-img{width: 180px;height: 240px;cursor: pointer;display: none;}
.addtc-button{cursor: pointer; width: 122px;height: 40px;background-color: #68A1FF;border: none;outline: none;color: #ffffff;font-size: 18px;float: right;margin-right: 15px;margin-top: 12px;}
#addtc-lang{color: #666666;}

.data-su{margin-left: 90px; outline: none;cursor: pointer; width: 122px;height: 40px;color: #ffffff;font-size: 18px;border: none;border-radius: 3px 3px 3px 3px;background-color: #00AAF7}
.data-div{width: 1033px;height: 370px; padding-top: 1px;overflow-y:scroll;margin-left: 10px;}
.data-div::-webkit-scrollbar{
    background-color: #ffffff;
}
.data-div::-webkit-scrollbar-track{
    background-color: #ffffff;
}

.addtc-text,.tcedi-lang{color: #666666;font-size: 18px; width: 402px;height: 37px;background-color: #EDEDED;border: none;border-radius: 8px 8px 8px 8px;outline: none;text-indent: 0.5em}


.exe-conbox{width: 1033px;height: 570px; padding-top: 1px;overflow-y:auto;float: left;}
.exe-box{ width: 970px;height: 120px;background-color: #EDEDED;border: 1px solid #CBCBCB;margin: 0 auto;margin-top: 30px;}
.exe-box >p{cursor: pointer; font-size: 36px;color: #666666;line-height: 120px;float: left;margin-left: 55px;}
.exe-box >table{color: #666666;font-size: 18px;float: left;margin-left: 70px;margin-top: 35px}
.exe-box >input{width: 122px;height: 40px;background-color: #FF7E7E;border: none;border-radius: 3px 3px 3px 3px;color: #ffffff;font-size: 18px;outline: none;cursor: pointer;float: right;margin-right: 35px;margin-top: 40px;}
.exe-conbox::-webkit-scrollbar{
    background-color: #ffffff;
}
.exe-conbox::-webkit-scrollbar-track{
    background-color: #ffffff;
}
.exe2_table{color: #333333;font-size: 20px;margin: 0 auto;}
.exe_title_sin{font-size: 24px;font-size: #333333;width: 1000px;margin: 0 auto;}
.exe_bu{width: 72px;height: 25px;color: #ffffff;font-size: 18px;float: right;outline: none;border: none;border-radius: 3px 3px 3px 3px;cursor: pointer;}
.exe_bus_edi{background-color: #68A1FF;margin-right: 16px;}
.exe_bus_de{background-color: #FF7E7E}
.exe_sin_box{color: #333333;font-size: 20px;margin: 0 auto;margin-top: 33px;overflow:hidden;}
.exe_sin_box > table{width: 1000px;margin:  0 auto;margin-top: 40px;}
.dis-no{display: none;}
.exe_for_check > div{width: 28px;height: 28px;background-color: #418AB5;border-radius: 100%;color: #ffffff;font-size: 15px;line-height: 28px;text-align: center;cursor: pointer;float: left;margin-top: 27px;margin-right: 27px;}
.exe_span_top{float: left; margin-top: 27px;}
.exe_s_edi{margin-top: 27px;margin-right: 0;}

.exe_ns_table1{color: #333333;font-size: 24px;margin-top: 32px;margin-left: 32px;}
.exe_mr{margin-left: 32px;}
.exe_ns_table2{color: #333333;font-size: 18px;}
.exe_ns_selcet{width: 160px;height: 36px;background-color: #EDEDED;color: #333333;outline: none; text-indent: 0.5em;font-size: 18px;border: none;border-radius: 8px 8px 8px 8px;}
.exe_input1{width: 900px;height: 36px;background-color: #EDEDED;outline: none; text-indent: 0.5em;font-size: 18px;border: none;border-radius: 3px 3px 3px 3px;}
.exe_a_right{text-align: right;}
.exe_input2{width: 400px;height: 36px;background-color: #EDEDED;outline: none; text-indent: 0.5em;font-size: 18px;border: none;border-radius: 3px 3px 3px 3px;}
.exe_gabox{font-size: 48px;color: #333333;width: 130px;height: 60px;position: absolute;top: 298px;left: 712px;}
.exe_gabox span,.exe_gabox div{display: block;float: left;}
.exe_gabox img{position: absolute;right: 0;cursor: pointer;}
.exe_up{top: 8px;}
.exe_down{top: 38px;}
.exe_issue{width: 120px;height: 40px;color: #333333;text-align: center;line-height: 40px;margin-top: 40px; border: 1px solid #333333;font-size: 18px;float: right;margin-right: 45px;}
.exe_ni_table{color: #333333;font-size: 24px;margin-left: 170px;}
.exe_ni_input{ text-indent: 0.5em; width: 400px;height: 37px;background-color: #EDEDED;border: none;border-radius: 8px 8px 8px 8px;color: #333333;font-size: 18px;outline: none}

.exe_big_input{resize: none; text-indent: 0.5em; width: 403px;height: 100px;background-color: #EDEDED;color: #333333;font-size: 18px;border: none;border-radius: 8px 8px 8px 8px;outline: none;}
.exe_big_table{font-size: 24px;color: #333333;margin-left: 220px;}
.call-bu3{float:left;margin-left: 10px;}

.exe_single{overflow: hidden;margin-top: 60px;}

.td-over{text-overflow: ellipsis;overflow: hidden;white-space: nowrap;width: 540px;}
.com-see{width: 64px;height: 26px;background-color: #68A1FF;color: #ffffff;font-size: 15px;line-height: 26px;outline: none;border-radius: 3px 3px 3px 3px;border: none;cursor: pointer;}

.com_more_content{width: 968px;height: 318px;margin: 0 auto;margin-top: 30px;font-size: 24px;color: #333333;text-indent: 1.5em;line-height: 33px;}
.com_more_table{color: #666666;font-size: 18px;float: left;margin-top: 17px;margin-left: 34px;}
.com_td{margin-left: 30px;}
.com_td2{margin-left: 55px;}