  @-webkit-keyframes 'move' {
     0% {
        transform:translateY(0px);
        -ms-transform:translateY(0px);
        -webkit-transform:translateY(0px);
        -moz-transform:translateY(0px);
        -o-transform:translateY(0px);
     }
     50% {
        transform:translateY(-20px);
        -ms-transform:translateY(-20px);
        -webkit-transform:translateY(-20px);
        -moz-transform:translateY(-20px);
        -o-transform:translateY(-20px);
     }
     100% {
        transform:translateY(0px);
        -ms-transform:translateY(0px);
        -webkit-transform:translateY(0px);
        -moz-transform:translateY(0px);
        -o-transform:translateY(0px);
     }
  }

.centerbg{width: 1200px;height: 700px; margin:0 auto;padding-top: 24px;}
.buynav{float: left;font-family: "Microsoft JhengHei";}
.buynav a{ width: 300px;height: 100px;color: #ffffff;font-size: 30px;text-align: center;line-height: 100px;display: block;}
.buynav a:hover{background-color: #0089C8;}
.buynav1{background-color: #00AAF7;}
.rank{width: 276px;height: 700px;display: block;float: left;margin-left: 24px;position: relative;}
.rankpri{background-image: url(../src/images/lessonsale_primary.png);}
.rankmid{background-image: url(../src/images/lessonsale_middle.png);}
.rankhig{background-image: url(../src/images/lessonsale_high.png);}
.rank > div{width: 276px;height: 700px;background-image: url(../src/images/blackbg.png);float: left;position: absolute;top: 0;left: 0;}
.rankradius{width: 37px;height: 37px;background-color: #ffffff;border-radius: 100%;margin: 0 auto;margin-top: 23px;}
.rankp{font-size: 36px;color: #ffffff;text-align: center;font-family: "Microsoft JhengHei";margin-top: 332px;}
.rankimg{margin: 0 auto;display: block;margin-top: 340px;-moz-transition: all 1s ease-in-out 0.2s;-webkit-transition: all 1s ease-in-out 0.2s;-o-transition: all 1s ease-in-out 0.2s;transition: all 1s ease-in-out 0.2s;
}
.rank:hover .rankimg{-webkit-animation-name:'move';-webkit-animation-duration: 1s;-webkit-animation-timing-function: ease-in-out; -webkit-animation-delay: 0.1s;-webkit-animation-iteration-count: infinite;-webkit-animation-direction: alternate;}

.centerbg-noheight{width: 1200px;margin:0 auto;padding-top: 24px;}
.bcrightbg{width: 900px;background-color: #ffffff;float: right;}
.addbox > hr{width: 900px;}
.allbox{width: 800px;margin: 0 auto;}
.inbox1{width: 800px;height: 250px;border-bottom: 1px solid;border-color: #666666;}
.lanname{background-color: #00AAF7;width: 150px;height: 150px;float: left;margin-top: 50px;}
.lanname p{font-size: 24px;color: #ffffff;text-align: center;margin-top: 60px;}
.inbox1-table1{color: #0089C8;font-size: 20px;float: left;margin-top: 27px;margin-left: 30px;}
.inbox1-table2{color: #666666;font-size: 20px;float: right;margin-top: 27px;}
.buybutton{width: 150px;height: 50px;color: #ffffff;font-size: 20px;background-color: #00AAF7;border: none; outline: none;cursor: pointer;border-radius: 3px 3px 3px 3px;margin-top: 12px;}
.inbox2{width: 800px;font-size: 20px;color: #666666;border-bottom: 1px solid;border-color: #666666;}
.boxspan p{margin-top: 50px;margin-bottom: 10px;}
.boxspan div{text-indent: 2em;margin-bottom: 50px;}
.inbox3{color: #666666;font-size: 20px;width: 800px;height: 300px;}
.inbox3 img{width: 150px;height: 200px;margin-top: 50px;float: left;margin-bottom: 50px;}
.inbox3 table{float: left;margin-top: 27px;}
.inbox3 > div{float: left;width: 600px;margin-left: 18px;margin-bottom: 50px;}
.inbox3 > div div{margin-top: 10px;text-indent: 2em;}

.pagebg{width: 900px;padding-top: 1px;height: 120px;}
.pagediv{margin-top:50px;margin-left: 387px;}
.pagediv img,.pagediv p{float: left;cursor: pointer;margin: 0 5px;}
.pagediv p{font-size: 18px;color: #999999;display: block;}
.pagediv img{width: 15;height: 16px;margin-top: 5px;}