body{background-color: #eeeeee;}
*{margin: 0;padding: 0;text-decoration: none;font-family: "Microsoft YaHei";list-style-type: none;}
.bgbox{margin: 0 auto;overflow: hidden;}
.topbg-1{background-color: #ffffff}
.topbg{width: 1200px;height: 80px;margin: 0 auto;background-color: #ffffff;}
.topbg img{float: left;margin-top: 18px;display: block;}
.topbg p,.topbg a{float: right;font-size: 18px;color: #999999;margin-top: 30px;}
.topbg a{margin-left: 20px;display: none;}
.navbg-1{width: 100%;height: 50px;background-color: #00AAF7;}
.navbg{width: 1200px;height: 50px;margin: 0 auto;background-color: #00AAF7;}
.navbg a{width: 200px;height: 50px;display: block;font-size: 20px;color: #ffffff;line-height: 50px;float: left;text-align: center;}
.navbg a:hover{background-color: #008AC9;}
.centerbg-1{background-color: #eeeeee;margin: 0 auto;width: 100%;padding-bottom: 24px;overflow: hidden;}
.bottombg-1{background-color: #0089C8;width: 100%;}
.bottombg{width: 1200px;background-color: #0089C8;height: 88px;margin: 0 auto;}
.bottombg p{font-size: 14px;color: #ffffff;text-align: center;line-height: 88px;}
.reture,.refalse{display: none;}
.refalse img{float: left;margin-right: 20px;}
.refalse p{float: left;font-size: 12px;line-height: 24px;}
.nowa{background-color: #008AC9;}