.centerbg{width: 1200px;margin: 0 auto;padding-top: 24px;}
.cs_nav,.tea_nav{width: 300px;float: left;}
.cs_nav_a,.tea_nav_a{display: block; width: 300px;height: 100px;color:#ffffff;font-size:30px;text-align: center;line-height: 100px;background-color: #00AAF7;}
.cs_nav_a:hover,.tea_nav_a:hover{background-color: #0089C8}
.cs_con,.tea_con{width: 900px;float: left;background-color: #ffffff;margin-bottom: 76px;}
.cs_con p{color: #333333;font-size: 30px;text-align: center;margin:40px 0;}
.cs_con img{width: 820px;height: 520px;margin: 0 auto;display: block;margin-bottom: 40px;}
.cs_con div{width: 820px;text-indent: 2em;margin: 0 auto;color: #333333;font-size: 18px;line-height: 30px;}

.tea_con{padding-bottom: 50px;}
.tea_box{width: 800px;margin: 0 auto;margin-top: 50px;font-size: 20px;color: #666666;line-height: 30px;}
.tea_box > img{width: 150px;height: 200px;float: left;display: block;margin-right: 40px;margin-bottom: 20px;}
.tea_box_word{margin-bottom: 15px;}
.table_hr{width: 800px;border-top: 1px solid #999999;margin-top: 35px;}
.tea_page {margin: 0 auto;margin-top: 50px;display: none;}
.tea_page_ul li{float: left;font-size: 18px;}
.tea_page_ul li a{color: #999999;display: block;margin: 0 5px;}
.tea_page_ul li a:hover{color: #666666;}
.tea_page img{float: left;display: block;margin: 0 5px;cursor: pointer;}