.centerbg{overflow: hidden; width: 1200px;height: 640px;margin: 0 auto;position: relative;}
.loinbox{position: absolute;top: 50px; right: 70px; width: 350px;height: 400px;float: right;background-image: url(../src/images/lobg.png);}
.loinbox p {font-size: 20px;color: #666666;text-align: center;margin-top: 22px;}
.loinbox table{width: 350px;}
.inlobox {width: 300px;height: 50px;border-radius: 3px 3px 3px 3px;border: 2px solid #999999;margin: 0 auto;}
.inlobox img{width: 22px;height: 22px;margin: 15px 15px; float: left;}
.inlobox input{width: 200px;height: 30px;float: left;color: #999999;font-size: 18px;background-color: transparent;border: none;margin-top: 10px;outline: none;}
.forlore div{margin-right: 15px; width: 20px;height: 20px;border: 2px solid #999999;cursor: pointer;background-color: #ffffff;float: left;}
.lonext{font-size: 16px;color: #666666;float: left;}
.fgpw{color: #666666;float: right;display: block;font-size: 16px;}
.lobu{width: 140px;height: 50px;background-color: #00AAF7;color: #ffffff;font-size: 18px;border: none;outline: none;cursor: pointer;margin-top: 60px;}
#loginbu{margin-left: 23px;margin-right: 24px;}
.regibg-1{display: none; width: 100%;height: 100%;background-image: url(../src/images/blackbg.png);position: absolute;top: 0;left: 0;}
.regibg{width: 800px;height: 510px;background-color: #ffffff;margin: 0 auto;margin-top: 193px;}
.regibg hr{width: 764px;margin: 0 auto;}
.retop{position: relative;width: 800px;height: 54px;}
.retop img{position: absolute;right: 20px;top: 22px;cursor: pointer;}
.retop p{text-align: center;font-size: 18px;color: #666666;padding-top: 18px;}
.retable{font-size: 16px;color: #999999;margin: 0 auto;}
.retable input{width: 306px;height: 37px;border: none;background-color: #eeeeee;outline: none;font-size: 16px;color: #999999;}
#rebu{border: none; width: 306px;height: 37px; background-color: #418AB5;color: #ffffff;font-size: 16px;outline: none;cursor: pointer;}

.fgpwbg-1{display: none; width: 100%;height: 100%;background-image: url(../src/images/blackbg.png);position: absolute;top: 0;left: 0;}
.fgpwbg{width: 800px;height: 510px;background-color: #ffffff;margin: 0 auto;margin-top: 193px;}
.fgpwbg table{font-size: 16px;color: #999999;margin-top: 10px;margin-left: 170px;}
.fgpwinput{width: 306px;height: 37px;background-color: #eeeeee;border: none;outline: none;border-radius: 3px 3px 3px 3px;margin: 10px 20px;}
.pwp{font-size: 20px;color: #333333;font-weight: bold;margin-top: 60px;display: none;}
.pwp-2{margin-left: 20px;text-align: center;}
#upfogetpw{border-radius: 3px 3px 3px 3px; margin-left: 20px;margin-top: 80px; border: none; width: 306px;height: 37px; background-color: #418AB5;color: #ffffff;font-size: 16px;outline: none;cursor: pointer;}

/*.index_img{position: absolute;top: 292px;cursor: pointer;}
.index_img_left{left: 20px;}
.index_img_right{right: 20px;}
.scoll_banner{width: 4800px;height: 638px; position: absolute;top: 0;left: -1200px;float: left;}
.scoll_banner > img{width: 1200px;height: 638px;float: left;}*/

.index_csys{width: 1200px;height: 350px;margin: 0 auto;margin-top: 96px;}
.csys_p,.teac_p{color: #333333;font-size: 30px;text-align: center;}
.csys_introduce_box{width: 1200px;height: 260px;margin-top: 48px;}
.inroduce_single_box{width: 201px;height: 260px;float: left;margin:0 47.5px;}
.inroduce_single_box img{width: 200px;height: 200px;border-radius: 100%;}
.inroduce_single_box p{color: #333333;font-size: 20px;text-align: center;padding-top: 25px;}

.index_teac{width: 1200px;height: 400px;margin:0 auto;margin-top: 95px;}
.teac_introduce_box{width: 260px;height: 410px;float: left;margin: 0 20px;margin-top:45px;}
.teac_introduce_box img{width: 260px;height: 260px;display: block;}
.teac_introduce_box p{display: block;width: 260px;height: 50px;background-color: #00AAF7;color: #ffffff;font-size: 20px;text-align: center;line-height: 50px;}

.index_more{width: 1200px;margin: 0 auto;}
.more_src,.about_us{width: 560px;margin-left: 20px;float: left;}
.more_src p,.about_us p{font-size: 30px;color: #333333;margin-bottom: 20px;}
.more_src hr,.about_us hr{width: 560px;border: none;border-top: 1px solid #999999;}
.more_src_ul{float: left;}
.more_src_ul li{margin-top: 45px}
.more_src a{color: #333333;font-size: 20px;}
.more_src a:hover{color: #999999}
.about_us img{width: 220px;height: 200px;float: left;margin: 40px 0;display: block;}
.about_us_div{float: left;width: 560px;}
.about_us_div li{color: #333333;font-size: 20px;margin-bottom: 45px;}