.centerbg{width: 1200px;margin: 0 auto;height: 1000px;margin-top: 24px;}
.cleft{width: 400px;height: 1021px;float: left;}
.cright{width: 800px;background-color: #ffffff;height: 1021px;float: right;}
.chead{width: 400px;height: 400px;position: relative;}
.chead img{position: absolute;top: 0;left: 0;display: block;width:400px;height: 400px; }
.pcnava{width: 400px;height: 207px;display: block;color: #ffffff;font-size: 34px;background-color: #00AAf7;font-family: "Microsoft JhengHei";text-align: center;line-height: 207px;}
.pcnava:hover{background-color: #0089C8;}
.forhead{width: 400px;height: 400px;background-image: url(../src/images/blackbg.png);position: absolute;top: 0;left: 0;}
.forhead > div{width: 200px;height: 68px;border: 1px solid #ffffff;color: #ffffff;font-size: 34px;font-family: "Microsoft JhengHei";text-align: center;line-height: 68px;margin: 0 auto;margin-top: 156px;cursor: pointer;} 
.title1{width: 700px;margin: 0 auto;height: 100px;}
.title1 p{font-size: 30px;color: #666666;float: left;line-height: 100px;}
.title1 img{float: right;margin-top: 50px;cursor: pointer;}
.title1 hr{width: 700px;float: left;}
.title1 input{outline: none;cursor: pointer; margin-top: 56px; float: right; width: 58px;height: 30px;background-color: #418AB5;border: none;border-radius: 3px 3px 3px 3px;color: #ffffff;font-size: 16px;}
.table1{padding-top: 50px; color: #666666;font-size: 22px;margin: 0 auto;width: 700px;font-family: "Microsoft JhengHei";}
.tabletd{padding-bottom: 50px;}
.tableinput{display: none; float: right;width: 271px;height: 37px;background-color: #eeeeee;border: none;outline: none;font-size: 20px;}
.tablep{padding-left: 50px;}
.tabletds{width: 100px;}
.tabletdpass{display: none;}
.reture,.refalse{float: right;margin-top: 10px;}
.inputtd{width: 275px;}

.centerbg-2{width: 1200px;margin: 0 auto;margin-top: 24px;}
.myclassright{width: 800px;background-color: #ffffff;float: right;}
.allbox{width: 700px;margin: 0 auto;}
.addbox hr{width: 800px;float: left;margin-top: 50px;}
.top{width: 700px;float: left;height: 250px;border-bottom: 1px solid;border-color: #666666;}
.classname{margin-right: 20px; margin-top: 50px; width: 150px;height: 150px;background-color:  #00AAf7;color: #ffffff;font-size: 24px;line-height: 150px;text-align: center;float: left;}
.top table{font-size: 20px;color: #0089C8;float: left;margin-top: 27px;}
.center{width: 700px;float: left;border-bottom: 1px solid;border-color: #666666;font-size: 20px;color: #666666;}
.center p{margin-top: 48px;margin-bottom: 10px;}
.center div{text-indent: 2em;margin-bottom: 48px;}
.bottom{width: 700px;float: left;font-size: 20px;color: #666666;}
.bottom img{width: 150px;height: 200px;margin-top: 50px;margin-bottom: 50px;margin-right: 20px;  float: left;}
.bottom table{float: left;margin-top: 27px;width: 530px;}
.bottomdiv p {margin-left: 18px;float: left;width: 480px;}
.bottomdiv div{text-indent: 3em;padding-left: 18px;}
.schedule{width: 150px;height: 150px;float: right;margin-top: 50px;position: relative;}
.schedule p{z-index: 100000;}
.rad1{width: 110px;height: 110px;border:20px solid #dddddd;border-radius: 50%;position: absolute;top: 0;}
.rad2{width: 110px;height: 110px;border:20px solid #00AAF7;border-radius: 50%;position: absolute;top: 0;}
.rad2-1{border-bottom: 20px solid transparent;border-right: 20px solid transparent;border-top: 20px solid transparent;}
.rad2-2{border-top:20px solid transparent;border-right: 20px solid transparent;}
.rad2-3{border-top:20px solid transparent;}
.radtip{position: absolute;top: 45px;left: 50px; font-size: 24px;color: #666666;}

.pagebg{width: 800px;padding-top: 1px;height: 120px;float: left;}
.pagediv{margin-top:50px;margin-left: 387px;}
.pagediv img,.pagediv p{float: left;cursor: pointer;margin: 0 5px;}
.pagediv p{font-size: 18px;color: #999999;display: block;}
.pagediv img{width: 15px;height: 16px;margin-top: 5px;}

.pccomment-title{font-size: 34px;color: #666666;text-align: center; line-height: 132px;}
.practiceclass-area{width: 700px;height: 545px;background-color: #EDEDED;border-radius: 3px 3px 3px 3px;outline: none;resize: none;border: none;margin-left: 50px;font-size: 18px;text-indent: 1em;}
.pccomment-up{width: 150px;height: 38px;color: #ffffff;font-size: 18px;background-color: #00AAF7;border-radius: 3px 3px 3px 3px;border: none;outline: none;cursor: pointer;margin-left: 600px;margin-top: 50px;}