.centerbg-1{padding-top: 1px;}
.centerbg{background-color: #DBE7EE;width: 1200px;margin: 0 auto;margin-top: 24px;height: 1350px;}
.pranav{position: relative; width: 1200px;height: 80px;overflow: hidden;float: left;}
.pranav a{position: relative; float: left;color: #ffffff;font-size: 24px;display: block;width: 300px;height: 80px;line-height: 80px;text-align: center;background-color: #00AAF7;}
.pramore{position: absolute;color: #0089C8;font-size: 24px;top:25px;cursor: pointer;font-family: "SimSun";}
.moreright{right: 20px;}
.moreleft{left: 20px;display: none;}
.list{position: absolute;}
.pranav-div{width: 50px;height: 6px;background-color: #00AAF7;position: absolute;top: 65px;left: 125px;}
.pranav a:hover .pranav-div{background-color: #ffffff;}
.pranow{background-color: #ffffff;}
.testbox{font-size: 20px;color: #666666; width: 369px;height: 360px;background-color: #ffffff;margin-top: 23px;margin-left: 23px;float: left;}
.testbox > p{text-align: center;line-height: 67px;}
.testbox > hr{width: 320px;margin:0 auto;}
.testbox > table{width: 320px;margin: 0 auto;}
.starttest{margin-top: 110px; width: 320px;height: 50px;border:none; background-color: #00AAF7;color: #ffffff;border-radius: 3px 3px 3px 3px;font-size: 20px;outline: none;cursor: pointer;}
.pagebg{width: 1200px;padding-top: 1px;font-size: 18px;color: #666666;height: 100px;float: left;}
.pagediv{margin-left: 550px;}
.pagediv img,.pagediv p{float: left;cursor: pointer;padding-top: 45px;}
.pagediv img{margin: 5px 7.5px;}
.pagediv p{margin:0 5px;}
