.centerbg-1{padding-top: 1px;}
.centerbg{width: 1200px;margin: 0 auto;margin-top: 1px;background-color: #ffffff;}
.pctitle{width: 1200px;background-color: #00AAF7;height: 80px;font-size: 24px;color: #ffffff;margin-top: 24px;}
.pctitle p{text-align: center;line-height: 80px;}
.pccontro{position: relative;width: 1200px;}
.pccontro > p{font-size: 36px;color: #333333;text-align: center;margin-top: 34px;}
.pccontro > table{margin: 0 auto;}
.item{width: 1130px;margin: 0 auto;font-size: 24px;color: #333333;margin: 0 auto;}
.item > div{width:1130px;height:35px;}
.qtnum,.quest{float: left;}
.qtgra{float: right;}
.radiocss div{cursor: pointer; margin-right: 30px; width: 32px;height: 32px;background-color: #00AAF7;border-radius: 100%;color: #ffffff;text-align: center;margin-bottom: 20px;}
.item > table{margin-top: 30px;margin-bottom: 20px;}
.bigitem > table{color: #333333;font-size: 24px;margin-left: 10px;margin-bottom: 20px;}

.exe_bu{cursor: pointer; background-color: #0089C8; width: 144px;height: 38px;outline: none;border: none;border-radius: 3px 3px 3px 3px;color: #ffffff;font-size: 24px;position: absolute;top: 12px;right: 16px;}
.score{font-size: 72px;color: #333333;text-align: center;margin-top: 120px;margin-bottom: 150px;}
.radiocss >img{width: 32px;height: 32px;cursor: pointer;}
.pcitem{width: 1200px;}