<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title>课程购买</title>
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/cs_tea.css">
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/common.css">
  <script type="text/javascript" src="__ROOT__/Public/js/jquery-3.1.1.js"></script>
  <script type="text/javascript" src="__ROOT__/Public/js/nav.js"></script>
  <script type="text/javascript" src="__ROOT__/Public/js/common.js"></script>
  <script type="text/javascript" src="__ROOT__/Public/js/buyclass.js"></script>
</head>
<body>
      <div class="bgbox topbg-1">
      	   <div class="topbg">
      	   	     <img src="__ROOT__/Public/src/images/easytalklogo.png" alt="Easytalk">
      	   	     <a href="#">退出登录</a>
      	   	     <p>您好，请先登录</p>
      	   </div>
      </div>
      <div class="bgbox navbg-1">
      	   <div class="navbg">
      	   	   <ul>
                  <a href="__ROOT__/index.php/"><li id="nav1"></li></a>
                  <a href="__MODULE__/coursesys/course_system_1" class="nava nowa"><li id="nav2"></li></a>
                  <a href="__MODULE__/teacher/tea_ara?lan=01" class="nava"><li id="nav3"></li></a>
                  <a href="__MODULE__/course/buyclass_vie" class="nava"><li id="nav4"></li></a>
                  <a href="__MODULE__/user/pccenter" class="nava"><li id="nav5"></li></a>
                  <a href="__MODULE__/exercise/practiceclass?lan=01" class="nava"><li id="nav6"></li></a>
      	   	   </ul>
      	   </div>
      </div>
      <div class="bgbox centerbg-1">
            <div class="centerbg">
                 <div class="cs_nav">
                      <ul>
                          <a href="__MODULE__/coursesys/course_system_1" class="cs_nav_a nowa"><li>阿拉伯语课程体系</li></a>
                          <a href="__MODULE__/coursesys/course_system_2" class="cs_nav_a"><li>印尼语课程体系</li></a>
                          <a href="__MODULE__/coursesys/course_system_3" class="cs_nav_a"><li>泰语课程体系</li></a>
                          <a href="__MODULE__/coursesys/course_system_4" class="cs_nav_a"><li>越南语课程体系</li></a>
                      </ul>
                 </div>
                 <div class="cs_con">
                       <p>阿拉伯语课程体系</p>
                       <img src="__ROOT__/Public/src/images/Arab.jpg">
                       <div>
                                 <span>
                                 EASY TALK小语种一对一学习网站的阿拉伯语教学部分分为三个不同阶段，根据难度从低到高排序依次是阿拉伯语初级、阿拉伯语中级、阿拉伯语高级。三类课程的具体信息如下:<br>
                                 <br>
                                 1. 课程名称:阿拉伯语初级【碰到阿拉伯语一脸懵逼? 初级培训拯救你的尴尬 】<br>
                                 总 课 时：12课时<br>
                                 课程班型: VIP一对一<br>
                                 上课时间：周末班（周六日）晚班（周一周日晚），还可以依据学员日常生活中的空余时间进行特殊安排！<br>
                                 适学对象：零基础的在学习工作中需要用到阿拉伯语或对阿拉伯语学习感兴趣的学员。<br>
                                 课程内容：让零基础的学员从阿拉伯语的最基础的语音学起，逐渐掌握阿拉伯语的发音技巧、阿拉伯语单词的拼读规则以及一些基础句型；<br>
                                 <br>
                                 2.课程名称：阿拉伯语中级【稳扎稳打掌握阿拉伯语日常交际 27个阿拉伯语国家任你游】<br>
                                 总 课 时：12课时<br>
                                 课程班型: VIP一对一<br>
                                 上课时间：周末班（周六日）晚班（周一周日晚），还可以依据学员日常生活中的空余时间进行特殊安排！
                                 适学对象：有一定阿拉伯语语音基础或者已经完成初级培训的学员<br>
                                 课程内容：主要注重日常口语交际部分，让学员掌握阿拉伯语的基本日常使用词汇、句型，从社会文化、商务、旅游等几个方面逐渐深入学习，中级培训的目的是让学员掌握听、说、读、写等阿拉伯语日常交际所需技能。<br>
                                 <br>
                                 3.课程名称：阿拉伯语高级【掌握特定方向专业知识 让菜鸟对你刮目相看】<br>
                                 总 课 时：12课时<br>
                                 课程班型: VIP一对一<br>
                                 上课时间：周末班（周六日）晚班（周一周日晚），还可以依据学员日常生活中的空余时间进行特殊安排！<br>
                                 适学对象：能顺利进行阿拉伯语日常交际或者已经完成中级培训的学员<br>
                                 课程内容：主要注重于从商务翻译以及高级口译、写作等几个方面深入学习。<br>
                                 <br>
                                【专业一对一辅导稳扎稳打 解锁最难学的东方小语种】<br>
                                 对阿拉伯语学习有需求或有兴趣?自学找不到门路还容易觉得枯燥无味?想要接受专业培训却没有时间跑辅导班?这些EASY TALK都可以帮你轻松搞定！easy talk针对有意愿学习或者正在学习阿拉语的学员在学习过程中遇到的困难量身定制了三个不同难度的课程，让学员无须跑培训班，只需要购买课程就可以与专业教师一对一学阿拉伯语，利用日常生活中空余的时间快乐付出，轻松学习，快速收获。EASY TALK致力为学员量身定制个性化学习方案，课程更具针对性;高端体验1V1外教母语阿拉伯语培训，让学员学到纯正口音，并通过不断强大的独家学习系统，让学员轻松掌握日常交际，并实现特定专业方向的学习培训，同时享受更多高质量的增值课程。“EASY TALK ”让你easy talk！<br>
                                 </span>               
                       </div>

                 </div>
            </div>
      </div>
      <div class="bgbox bottombg-1">
      	   <div class="bottombg">
      	   	   <p>Copyright &copy Easy talk 小语种在线一对一学习社区 | 版权所有 京ICP证008719-5</p>
      	   </div>
      </div>
</body>
</html>