<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title>课程购买</title>
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/cs_tea.css">
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/common.css">
  <script type="text/javascript" src="__ROOT__/Public/js/jquery-3.1.1.js"></script>
  <script type="text/javascript" src="__ROOT__/Public/js/nav.js"></script>
  <script type="text/javascript" src="__ROOT__/Public/js/common.js"></script>
 <script type="text/javascript" src="__ROOT__/Public/js/buyclass.js"></script>
</head>
<body>
      <div class="bgbox topbg-1">
      	   <div class="topbg">
      	   	     <img src="__ROOT__/Public/src/images/easytalklogo.png" alt="Easytalk">
      	   	     <a href="#">退出登录</a>
      	   	     <p>您好，请先登录</p>
      	   </div>
      </div>
      <div class="bgbox navbg-1">
      	   <div class="navbg">
      	   	   <ul>
                  <a href="__ROOT__/index.php/"><li id="nav1"></li></a>
                  <a href="__MODULE__/coursesys/course_system_1" class="nava nowa"><li id="nav2"></li></a>
                  <a href="__MODULE__/teacher/tea_ara?lan=01" class="nava"><li id="nav3"></li></a>
                  <a href="__MODULE__/course/buyclass_vie" class="nava"><li id="nav4"></li></a>
                  <a href="__MODULE__/user/pccenter" class="nava"><li id="nav5"></li></a>
                  <a href="__MODULE__/exercise/practiceclass?lan=01" class="nava"><li id="nav6"></li></a>
      	   	   </ul>
      	   </div>
      </div>
      <div class="bgbox centerbg-1">
            <div class="centerbg">
                 <div class="cs_nav">
                      <ul>
                          <a href="__MODULE__/coursesys/course_system_1" class="cs_nav_a"><li>阿拉伯语课程体系</li></a>
                          <a href="__MODULE__/coursesys/course_system_2" class="cs_nav_a nowa"><li>印尼语课程体系</li></a>
                          <a href="__MODULE__/coursesys/course_system_3" class="cs_nav_a"><li>泰语课程体系</li></a>
                          <a href="__MODULE__/coursesys/course_system_4" class="cs_nav_a"><li>越南语课程体系</li></a>
                      </ul>
                 </div>
                 <div class="cs_con">
                       <p>印尼语课程体系</p>
                       <img src="__ROOT__/Public/src/images/Indonesia.jpg">
                       <div>      
                            <span>
                            1. 课程名称:印尼语初级【印尼印地傻傻分不清楚？开口就是纯正印尼语！】<br>
                            总 课 时：12课时<br>
                            课程班型: VIP一对一<br>
                            上课时间：随时随地，根据您的安排为您量身订造属于你的课堂！<br>
                            适学对象：零基础的需要出国学习或对该语言有需求或感兴趣的学员。<br>
                            课程内容：让零基础的学员从印尼语的发音学起，逐渐掌握语音发音技巧，印尼语变形、拼读规则;<br>
                            <br>
                            2.课程名称：印尼语中级【让您的印尼语更上一层楼】<br>
                            总 课 时：12课时<br>
                            课程班型: VIP一对一<br>
                            上课时间：周末班（周六日）晚班（周一周日晚），还可以依据学员不同情况，特殊安排！<br>
                            适学对象：有一定基础的学员<br>
                            课程内容：掌握印尼语的基本日常使用词汇、句型，从社会文化、商务、旅游等几个方面逐渐深入学习。最终初步达到印尼语听、说、读、写全程无障碍。<br>
                            <br>
                            3.课程名称：印尼语高级【嗯？您的印尼语比地道更地道】<br>
                            总 课 时：12课时<br>
                            课程班型: VIP一对一<br>
                            上课时间：周末班（周六日）晚班（周一周日晚），还可以依据学员不同情况，特殊安排！<br>
                            适学对象：有一定基础的学员<br>
                            课程内容：主要注重于从商务翻译以及高级口译、写作等几个方面深入学习。<br>
                            </span>    
                       </div>

                 </div>
            </div>
      </div>
      <div class="bgbox bottombg-1">
      	   <div class="bottombg">
      	   	   <p>Copyright &copy Easy talk 小语种在线一对一学习社区 | 版权所有 京ICP证008719-5</p>
      	   </div>
      </div>
</body>
</html>