<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title>后台管理系统</title>
	<link rel="stylesheet" type="text/css" href="__ROOT__/BackendPublic/css/common.css">
  <link rel="stylesheet" type="text/css" href="__ROOT__/BackendPublic/css/adsystem.css">
  <script type="text/javascript" src="__ROOT__/BackendPublic/js/jquery-3.1.1.js"></script>
  <script type="text/javascript" src="__ROOT__/BackendPublic/js/addata.js"></script>
  <script type="text/javascript" src="__ROOT__/BackendPublic/js/quitlogin.js"></script>
</head>
<body>
      <div class="bgbox topbg-1">
      	   <div class="topbg">
      	   	     <img src="__ROOT__/BackendPublic/images/easytalklogo.png" alt="Easytalk">
      	   	     <a href="#" style="display: block;">退出登录</a>
      	   </div>
      </div>
      <div class="bgbox navbg-1">
      	   <div class="navbg">
      	   	   <ul>
                  <a href="__URL__/adminlogin" class="ab nowa"><li>管理员</li></a>
                  <a href="__MODULE__/teacher/teacherlogin" class="ab"><li>教师</li></a>
      	   	   </ul>
      	   </div>
      </div>
      <div class="bgbox centerbg-1">
            <div class="centerbg">
                  <div class="ctop">
                        <p>后台管理系统</p>
                        <span>管理员：11232</span>
                  </div>
                  <div class="ccenter">
                        <div class="cnav">
                              <ul>
                                   <a href="__URL__/aduser?html=11" class="labg"><li>用户管理</li></a>
                                   <a href="__URL__/adteacher?html=12" class="labg"><li>教师管理</li></a>
                                   <a href="__URL__/adtradata?html=13" class="now-a"><li>交易数据</li></a>
                                   <a href="__URL__/adclass?html=14" class="labg"><li>课程管理</li></a>
                                   <a href="__URL__/adexe_index?html=15" class="labg"><li>练习管理</li></a>
                                   <a href="__URL__/adlangindex?html=16" class="labg"><li>语种管理</li></a>
                                   <a href="__URL__/adpicindex" class="labg" id="moreul"><li>图片上传</li></a>
                                   <a href="__URL__/adnav" class="labg"><li>导航栏</li></a>
                                   <a href="__URL__/adcomment" class="labg"><li>意见反馈</li></a>
                                   <a href="__URL__/ad-cpsw" class="labg"><li>密码修改</li></a>
                              </ul>
                        </div>
                        <div class="searchbox">
                              <div class="searchdiv"></div>
                              <p>交易数据</p>
                        </div>
                        <div class="conbox" style="position: relative;">
                              <ul class="ulmore">
                                  <a href="__URL__/adpicindex"><li>首页图片</li></a>
                                  <a href="__URL__/adpiccl"><li>课程体系</li></a>
                              </ul>
                              <table class="data-table" cellpadding="0" cellspacing="30">
                                     <tr>
                                          <td>语种</td>
                                          <td>
                                              <div></div>
                                              <select name="lang" id="data-lang" class="add-sel">
                                                       <option value="请选择">请选择</option>
                                                       <option value="德语">德语</option>
                                                       <option value="法语">法语</option>
                                                       <option value="日语">日语</option>
                                                       <option value="韩语">韩语</option>
                                                       <option value="西班牙语">西班牙</option>
                                                       <option value="葡萄牙语">葡萄牙</option>
                                                       <option value="意大利语">意大利</option>
                                              </select>
                                          </td>
                                          <td>课程编号</td>
                                          <td>
                                              <select name="class" id="data-cid" class="add-sel">
                                                       <option value="请选择">请选择</option>
                                              </select>
                                          </td>
                                          <td>
                                              <input type="button" value="确定" class="data-su" id="data-up">
                                          </td>
                                     </tr>
                              </table>
                              <hr>
                              <table class="contitle">
                                     <tr> 
                                          <td width="170">用户名</td>
                                          <td width="170">语种</td>
                                          <td width="170">课程编号</td>
                                          <td width="230">课程价格</td>
                                          <td>购买日期</td>
                                     </tr>
                              </table>
                              <hr>
                              <div class="data-div">
                              </div>
                        </div>
                        <div class="call">
                        </div>
                  </div>
            </div>
      </div>
      <div class="bgbox bottombg-1">
      	   <div class="bottombg">
      	   	   <p>Copyright &copy Easy talk 小语种在线一对一学习社区 | 版权所有 京ICP证008719-5</p>
      	   </div>
      </div>
</body>
</html>