<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script language="JavaScript" src="__PUBLIC__/js/jquery-2.1.3.min.js"></script>
    <script language="JavaScript">
        function changeVerify(){
            var v=document.getElementById("V");
            v.src="__URL__/verify?"+ new Date().getTime();//Math.random()
        }
        function check(){
            var core=document.getElementById('ve').value;
            $.ajax({
                'url':"__URL__/check_verify",
                'type':'GET',
                'data':{'core':core},
                'dataType':'json',
                'success': function(data){
                    if(data.status){
                        if(data.data){
                            $("#tip").html('对');
                        }
                        else{
                            $("#tip").html('错');
                        }
                    }
                    else{
                        alert('获取数据出错');
                    }
                }
            });
        }

    </script>
</head>
<body>

<div style="background-color: aquamarine;width: 400px; height: 300px;float: left;">
    <h1>视图展示区</h1>
    <form action="__URL__/check_verify" method="get">
        验证码：
        <img src="__URL__/verify" onclick="changeVerify()" id="V">
        <input type="text" id="ve" name="core" onblur="check()"><span id="tip"></span>
        <br/><input type="submit">
    </form>
</div>
</body>
</html>