<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title>课程购买</title>
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/buyclass.css">
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/common.css">
  <script type="text/javascript" src="__ROOT__/Public/js/jquery-3.1.1.js"></script>
  <script type="text/javascript" src="__ROOT__/Public/js/nav.js"></script>
  <script type="text/javascript" src="__ROOT__/Public/js/common.js"></script>
    <script type="text/javascript" src="__ROOT__/Public/js/buyclass.js"></script>
</head>
<body>
      <div class="bgbox topbg-1">
      	   <div class="topbg">
      	   	     <img src="__ROOT__/Public/src/images/easytalklogo.png" alt="Easytalk">
      	   	     <a href="#">退出登录</a>
      	   	     <p>您好，请先登录</p>
      	   </div>
      </div>
      <div class="bgbox navbg-1">
      	   <div class="navbg">
               <ul>
                  <a href="__ROOT__/index.php/"><li id="nav1">首页</li></a>
                  <a href="__MODULE__/coursesys/course_system_1" class="nava"><li id="nav2">课程体系</li></a>
                  <a href="__MODULE__/teacher/tea_ara?lan=01" class="nava"><li id="nav3">老师介绍</li></a>
                  <a href="__URL__/buyclass_vie" class="nava nowa"><li id="nav4">课程购买</li></a>
                  <a href="__MODULE__/user/pccenter" class="nava"><li id="nav5">个人中心</li></a>
                  <a href="__MODULE__/exercise/practiceclass?lan=01" class="nava"><li id="nav6">练习中心</li></a>
               </ul>
      	   </div>
      </div>
      <div class="bgbox centerbg-1">
            <div class="centerbg">
                  <div class="buynav">
                        <ul>
                            <a href="__URL__/buyclass_vie" class="nowa"><li>越南语</li></a>
                            <a href="__URL__/buyclass_thai" class="buynav1"><li>泰语</li></a>
                            <a href="__URL__/buyclass_indon" class="buynav1"><li>印尼语</li></a>
                            <a href="__URL__/buyclass_arabic" class="buynav1"><li>阿拉伯语</li></a>
                        </ul>
                  </div>
                  <a href="__URL__/inbuyclass.html?lan=01&rank=01" class="rank rankpri">
                      <div>
                           <div class="rankradius"></div>
                           <img src="__ROOT__/Public/src/images/lessonsale_point.png" class="rankimg">
                      </div>
                      <p class="rankp">初级</p>
                  </a>
                  <a href="__URL__/inbuyclass.html?lan=01&rank=02" class="rank rankmid">
                      <div>
                           <div class="rankradius"></div>
                           <img src="__ROOT__/Public/src/images/lessonsale_point.png" class="rankimg">
                      </div>
                      <p class="rankp">中级</p>
                  </a>
                  <a href="__URL__/inbuyclass.html?lan=01&rank=03" class="rank rankhig">
                      <div>
                           <div class="rankradius"></div>
                           <img src="__ROOT__/Public/src/images/lessonsale_point.png" class="rankimg">
                      </div>
                      <p class="rankp">高级</p>
                  </a>
            </div>
      </div>
      <div class="bgbox bottombg-1">
      	   <div class="bottombg">
      	   	   <p>Copyright &copy Easy talk 小语种在线一对一学习社区 | 版权所有 京ICP证008719-5</p>
      	   </div>
      </div>
</body>
</html>