<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title>课程购买</title>
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/buyclass.css">
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/css/common.css">
  <script type="text/javascript" src="__ROOT__/Public/js/jquery-3.1.1.js"></script>
  <script type="text/javascript" src="__ROOT__/Public/js/nav.js"></script>
  <script type="text/javascript" src="__ROOT__/Public/js/inbuyclass.js"></script>
  <script type="text/javascript" src="__ROOT__/Public/js/common.js"></script>
</head>
<body>
      <div class="bgbox topbg-1">
      	   <div class="topbg">
      	   	     <img src="__ROOT__/Public/src/images/easytalklogo.png" alt="Easytalk">
      	   	     <a href="#">退出登录</a>
      	   	     <p>您好，请先登录</p>
      	   </div>
      </div>
      <div class="bgbox navbg-1">
      	   <div class="navbg">
               <ul>
                  <a href="__ROOT__/index.php/"><li id="nav1">首页</li></a>
                  <a href="__MODULE__/coursesys/course_system_1" class="nava"><li id="nav2">课程体系</li></a>
                  <a href="__MODULE__/teacher/tea_ara?lan=01" class="nava"><li id="nav3">老师介绍</li></a>
                  <a href="__URL__/buyclass_vie" class="nava nowa"><li id="nav4">课程购买</li></a>
                  <a href="__MODULE__/user/pccenter" class="nava"><li id="nav5">个人中心</li></a>
                  <a href="__MODULE__/exercise/practiceclass?lan=01" class="nava"><li id="nav6">练习中心</li></a>
               </ul>
      	   </div>
      </div>
      <div class="bgbox centerbg-1">
            <div class="centerbg-noheight">
                  <div class="buynav">
                        <ul>
                            <a href="__URL__/buyclass_vie" class="buynav1 lan01"><li>越南语</li></a>
                            <a href="__URL__/buyclass_thai" class="buynav1 lan02"><li>泰语</li></a>
                            <a href="__URL__/buyclass_indon" class="buynav1 lan03"><li>印尼语</li></a>
                            <a href="__URL__/buyclass_arabic" class="buynav1 lan04"><li>阿拉伯语</li></a>
                        </ul>
                  </div>
                  <div class='bcrightbg'>
                      <div class="addbox">
<!--                         <div class='allbox'>
                              <div class='inbox1'>
                                    <div class='lanname'><p>法语</p></div>
                                    <table class='inbox1-table1' cellpadding="0" cellspacing="18">
                                          <tr>
                                              <td>课程号</td>
                                              <td>001</td>
                                          </tr>
                                          <tr>
                                              <td>课程名</td>
                                              <td>法语听说班</td>
                                          </tr>
                                          <tr>
                                              <td>教&nbsp&nbsp&nbsp师</td>
                                              <td>乔菲</td>
                                          </tr>
                                          <tr>
                                              <td>难&nbsp&nbsp&nbsp度</td>
                                              <td><p class='ranktd'>中级</p></td>
                                          </tr>
                                    </table>
                                    <table class='inbox1-table2' cellpadding='0' cellspacing='18'>
                                           <tr>
                                              <td>课程量</td>
                                              <td style='text-align: right;'>12节</td>
                                          </tr>
                                          <tr>
                                              <td>价格￥</td>
                                              <td style='text-align: right;'>1200</td>
                                          </tr>
                                          <tr>
                                              <td colspan='2'>
                                                  <button class='buybutton' name=''>购买</button>
                                              </td>
                                          </tr>
                                    </table>
                              </div>
                              <div class="inbox2 boxspan">
                                    <p>课程简介</p>
                                    <div>
                                         学会用法语掌如何进行自我介绍，介绍家人，请别人作自我介绍，描述自己的个人兴趣，描述活动，表述频率或强度，描述人物的外貌及衣着，描述人物的社会、文化及地理背景信息，表达愿望，礼貌提出要求，介绍计划，表述自己的梦想和所关注的问题。
                                    </div>
                              </div>
                              <div class="inbox3">
                                    <img src="__ROOT__/Public/src/images/teacherQF.png">
                                    <table cellpadding="0" cellspacing="18">
                                          <tr>
                                              <td>教师</td>
                                              <td>乔菲</td>
                                          </tr>
                                    </table>
                                    <div>
                                         <p>简介</p>
                                         <div>北京外国语大学法语教学法专业，大学期间曾公派至比利时翻译学院主修同声传译。语言功底扎实，讲一口流利动听的法语。课堂风格沉稳严谨又不失幽默，喜欢大量使用音频视频资料来帮助学生提高听力口语水平。</div>
                                    </div>
                              </div>
                        </div>
                        <hr> -->
                   </div>

                   <div class="pagebg">
                         <div class="pagediv">
                             <img src="__ROOT__/Public/src/images/lastpage.png" id="page-last">
                             <div class="addp">
                             </div>
                             <img src="__ROOT__/Public/src/images/nextpage.png" id="page-next">
                         </div>
                   </div>
                </div>
            </div>
      </div>
      <div class="bgbox bottombg-1">
      	   <div class="bottombg">
      	   	   <p>Copyright &copy Easy talk 小语种在线一对一学习社区 | 版权所有 京ICP证008719-5</p>
      	   </div>
      </div>
</body>
</html>